/*
--------------------------------------------------------------------------------
Example Mainframe Production Configuration File
Authored by: Czerka Corporation
Website: https://czerka.io
--------------------------------------------------------------------------------
To utilize this file, save as production.js in ./config folder, then edit the values to match your production setup. When NODE_ENV is set to production, these files will overwrite any default values.

Only specify the values that you would like to overwrite. If you leave a value undefined or null, it will assume that you intend for the value to be that.

Note: production.js is ignored by git so that you do not accidentally commit it to your repo. 
--------------------------------------------------------------------------------
*/

module.exports = {
  db: {
    host: "db.example.com",
    port: 3306,
    dbname: "database",
    user: "root",
    password: "pass"
  },

  app: {
    port: 3000
  }
};
